*{padding: 0;
    margin: 0;
    text-decoration:none ;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    }
    
    header{
        position: sticky;
        top: 0;
        cursor: pointer;
    }

    
    .border{
        border: 1.5px solid transparent;
    }
    .border:hover{
        border: 1.5px solid white;
        transform: scale(1.1,1.1);
    }
    .navbar{
        height: 60px;
        background-color: #0f1111;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
       
    }
    
    /* button{
        background-color:#f08804;
    } */
    .nav-logo{
        background-size: cover;
    }
    .logo{
        font-size: 25px;
        color: #f08804;
    }
    
    /* veb bar location */
    .add-first{
        color: #cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
    }
    
    .add-sec{
        font-size: 1rem;
        margin-left: 4px;
    }
    .add-icon{
        display: flex;
        align-items: center;
    }
    
    /* nav search box */
    
    .nav-search{
        display: flex;
        justify-content: space-evenly;
        background-color:red ;
        width: 630px;
        height: 35px;
        border-radius: 4px;
    
    }
    
    .nav-search:hover{
        border: 1.5px solid orange;
    }
    
    .sreach-sr{
        background-color: #f3f3f3;
        width: 45px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none;
        outline: none;
    }
    
    
    .search-input{
        width: 100%;
        border: none;
        font-size: 1rem;
        border: none;
    }
    
    .search-icon{
        width: 45px;
        display: flex;
        justify-content:center;
        align-items:center;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    /* account ans list */
    
    span{
        font-size: 0.75rem;
    }
    .nav-sec{
        font-size: 0.9rem;
        font-weight: 700;
    }
    
    /* cart */
    
    .nav-cart i{
        font-size: 27px;
    }
    
    .nav-cart{
        font-size: 0.85rem;
        font-weight: 700;
    }
    
    .pannel{
        height: 40px;
        background-color: #222f3d;
        display: flex;
        color: white;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .pannel-ops p{
        display: inline;
        margin-left: 10px;
    }
    
    .pannel-ops{
        width: 80%;
        font-size: 0.90rem;
    
    }

    /* items */

/* item img */

    .item-img{
        height: 450px;
        width: 100%;
    }


/* item details */

.item-details{
    margin-left: 20px;
}


.items-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #a5b7b9;
}

.item-left{
    margin-top: 40px;
    height: 500px;
    width: 500px;
    position: sticky;
    top: 100px;
    border: 1px solid #222f3d;
    /* position: absolut; */
}

.item-img img{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}

.item-right{
    margin-top: 40px;
    height: 1500px;
    width: 800px;
}


hr{
    margin-top: 40px;
    margin-bottom: 30px;
}

.item-details ul{
        display: block;
        /* font-size: 0.9rem; */
        margin-top: 10px;
        margin-left: 20px;
        list-style: none;
    }
    
    .rattings{
        margin-top: 15px;
    }
    
    .rattings i{
        color: rgb(255,136,0);
    }
    .price{
        margin-bottom: 0.6rem;
        margin-top: 0.6rem;
        font-size: 20px;
        font-weight: 500;
    }
    
    .btn-box{
        margin-top: 0.9rem;
        
    }
    
    .btn-box button{
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    background-color:rgb(255,136,0) ;
    border-radius: 15px;
    margin-right: 0.6rem;
    cursor: pointer;
    }
    
    .btn-box button:hover{
        background-color:rgb(204, 123, 30) ;
    }
    

    .item-address{
    margin-top: 20px;
   
    }

    .item-address button{
        margin-right: 100px;
        font-size: 10px;
        padding: 8px 25px;
        border: none;
        background-color:rgba(213, 243, 242, 0.904) ;
        border-radius: 15px;
        margin-right: 0.6rem;
        cursor: pointer;
    }

    .item-page-services{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .item-service i{
        margin-left: 30px;
    }








    /* footer */
/* foot-panel1 */
.foot-panel1{
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 0.9rem;
    margin-top: 15px;
}
.foot-panel1 a{
    color: white;
}
/* foot panel2 */

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
display: block;
font-size: 0.9rem;
margin-top: 10px;
color: #dddddd;
}

ul{
    margin-top: 20px;
}

/* foot panel 3 */

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: solid white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 76px;
    font-size: 0.75rem;
    text-align: center;
}

.foot-pages{
   
    padding-top: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
 
}

.copyright {
    /* font-size: 0.75rem;
    color: white; */
    padding: 5px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
   
}